$color-primary: #5643fa;
$color-secondary: #2998ff;

$color-red: #f35252;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-white-2: #ece8e8;
$color-white: #f7f7f7;

$color-grey-1: #525252;
$color-grey-2: #313131;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #414141;
$color-black: #000;
$color-footer-grey: #333;

$color-main-light: #ffb900;
$color-main: #ff7730;
$color-main-dark: #ff4500;

// Grid variable
$grid-width: 114rem;
$grid-width-md: 80rem;
$grid-width-sm: 50rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 2rem;
$gutter-vertical-md: 6rem;

//font-size
$default-font-size: 1.6rem;
