.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-sm {
	margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
	margin-bottom: 4rem !important;
	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}
.u-margin-bottom-lg {
	margin-bottom: 6rem !important;
	@include respond(tab-port) {
		margin-bottom: 4rem !important;
	}
}

.u-margin-top-lg {
	margin-top: 4rem !important;
}

.u-margin-top-xlg {
	margin-top: 10rem !important;
}

.u-center-block {
	display: block;
	margin: 0 auto !important;
}

.u-font-size-md {
	font-size: 2.7rem !important;
}
